.button {
  width: 70%;
  padding-block: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: inherit;
  border-radius: 0.6rem;
  border: 2px solid #000;
  background-color: #ffa2a2;

  &__text {
    font-size: 2rem;
    font-weight: 500;
  }
}
