*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; /* 10px = 1rem */
}

body {
  background: linear-gradient(to bottom, #fff2dd, #ffdff4);
  color: #131313;
  font-family: "Poppins", sans-serif;
}
