.main {
  max-width: 154rem;
  width: 100%;
  margin: 0 auto;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem;
  min-height: 90vh;
}

.heroLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting {
  font-size: 5.6rem;
  margin: 0;
}

.nameWrapper {
  position: relative;
  width: fit-content;
}

.nameDecoration {
  position: absolute;
  &--1 {
    top: 0;
    left: -2rem;
  }
  &--2 {
    bottom: 2rem;
    left: 1.4rem;
    rotate: 30deg;
  }
  &--3 {
    top: 0;
    right: 14rem;
    rotate: -30deg;
  }
  &--4 {
    top: 7rem;
    right: -2rem;
    rotate: -30deg;
  }
  &--5 {
    top: 45%;
    left: 16rem;
    rotate: -30deg;
  }
}

.name {
  font-size: 20rem;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  margin: 0;
  line-height: 1;
  color: #f97878;
  margin-top: -3rem;
  margin-bottom: -2rem;
}

.subtitle {
  font-size: 5.8rem;
  margin: 0;
}

.description {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #555;
  margin: 0;
  max-width: 500px;
  text-align: justify;
  margin-bottom: 2rem;
}

.heroRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    min-height: auto;
  }
}

.workSection {
  padding: 2rem;
  max-width: 154rem;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  margin-bottom: 10rem;
}

.workHeading {
  margin-bottom: 4rem;
  position: relative;
}

.workText-small {
  font-size: 2rem;
}
.workText-big {
  margin-top: -3.2rem;
  font-size: 7rem;
}

.workSvgSpace {
  position: absolute;
  top: 0;
  left: 16rem;
}

.workContainer {
  height: 80rem;
  background-color: #fff4d7;
}

.aboutSection {
  padding: 2rem;
  max-width: 154rem;
  width: 100%;
  margin: 0 auto;
}

.aboutHeading {
  margin-bottom: 4rem;
  position: relative;
}

.aboutText-small {
  font-size: 2rem;
}

.aboutText-big {
  margin-top: -3.6rem;
  font-size: 7rem;
  margin-left: 5rem;
}

.aboutSvgSpace {
  position: absolute;
  top: 0;
  left: 39rem;
}

.aboutContainer {
}
