.work-item-dot__container {
  position: relative;
  width: 100%;
}

.work-item-dot__dot {
  position: absolute;
  left: 40.9%;
  top: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 20;

  @media (max-width: 768px) {
    display: none;
  }
}
